html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
  font-family: "Noto Serif JP", "Times New Roman", "Georgia", serif;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

.l_container-sm,
.l_container,
.l_container-lg {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.l_container-sm {
  max-width: 832px;
}

.l_container {
  max-width: 992px;
}

.l_container-lg {
  max-width: 1120px;
}

.l_contents {
  padding: 120px 0;
}

.l_header {
  height: 72px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media (min-width: 1080px) {
  .l_header-nav {
    position: static;
    background: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    pointer-events: inherit;
  }
}
.l_header-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
@media (min-width: 1080px) {
  .l_header-nav__list {
    display: flex;
    gap: 0 48px;
    position: static;
    transform: none;
  }
}
@media (min-width: 768px) {
  .l_header-nav__list {
    display: flex;
    gap: 0 24px;
    position: static;
    transform: none;
  }
}
.l_header-nav__item {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
@media (min-width: 1080px) {
  .l_header-nav__item {
    color: var(--white-color);
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.l_footer {
  background: #3F2E1A;
  margin: 0 auto;
  padding: 64px 0;
}
.l_footer-logo__img--wrapper {
  width: 200px;
  height: 75px;
  margin: 48px auto;
}
.l_footer-nav {
  margin-top: 48px;
}
.l_footer-nav__list {
  display: flex;
  gap: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-weight: bold;
}
@media (min-width: 1080px) {
  .l_footer-nav__list {
    flex-direction: row;
    gap: 48px;
  }
}
.l_footer-icon__img--wrapper {
  margin: 48px auto;
  width: 20px;
  height: 20px;
}
.l_footer-cr__txt {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .u_lg-dn {
    display: none;
  }
}

.m_hamburger {
  width: 32px;
  height: 28px;
  position: relative;
}
@media (min-width: 768px) {
  .m_hamburger {
    display: none;
  }
}
.m_hamburger-bar {
  width: 100%;
  height: 2px;
  background: #3F2E1A;
  position: absolute;
}
.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}
.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

.m_btn {
  width: 297px;
  height: 45px;
  margin: 0px auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 4, 4, 0.25);
  background: #3F2E1A;
  color: #fff;
  transition: 0.3s all;
}
.m_btn:hover {
  background: #FFFAF6;
  color: #3F2E1A;
}

.m_btn__more {
  position: relative;
}
.m_btn__more::after {
  content: "";
  display: block;
  width: 60px;
  height: 6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) skew(45deg);
  transition: 0.3s all;
}

.m_btn__tel {
  position: relative;
}
.m_btn__tel::after {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(/src/img/icon_tel_white.png);
  background-color: #3F2E1A;
  background-position: center;
  background-size: contain;
}

.m_kv {
  height: 320px;
  margin-top: 72px;
}
.m_kv__box {
  height: 320px;
  position: relative;
}
.m_kv__copy {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1080px) {
  .m_kv__copy {
    text-align: center;
    font-size: 40px;
  }
}

.m_opening {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
}
.m_opening__txt {
  text-align: center;
  margin: auto;
  font-size: 32px;
  font-weight: bold;
}

.top_section__title {
  font-size: 32px;
  font-weight: bold;
  color: #3F2E1A;
  position: relative;
}
@media (min-width: 768px) {
  .top_section__title {
    text-align: center;
  }
}
.top_section__title::after {
  content: "";
  width: 71px;
  height: 8px;
  background: #3F2E1A;
  position: absolute;
  left: 0;
  bottom: -16px;
}
@media (min-width: 768px) {
  .top_section__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.top_btn__wrapper {
  margin: 48px auto;
}

.top_kv {
  background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_top.jpg") 72% center/cover;
  height: 100vh;
  position: relative;
}
.top_kv__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_kv__copy {
  color: #fff;
}
@media (min-width: 1080px) {
  .top_kv__copy {
    text-align: center;
    font-size: 24px;
  }
}
.top_kv__img {
  max-width: 100%;
  height: auto;
}
.top_kv__img--wrapper {
  width: 343px;
  height: 84px;
}
@media (min-width: 1080px) {
  .top_kv__img--wrapper {
    width: 793px;
    height: 194px;
  }
}
.top_kv__scroll--down {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
.top_kv__scroll--arrow {
  width: 6px;
  height: 6px;
  border-color: #fff;
  border-width: 1px;
  border-style: none solid solid none;
  transform: rotate(45deg);
  margin-top: 16px;
}

.top_concept__copy {
  font-size: 18px;
  margin-top: 48px;
}
@media (min-width: 768px) {
  .top_concept__copy {
    text-align: center;
  }
}

.top_concept__txt {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .top_concept__txt {
    text-align: center;
  }
}

.menu_kv {
  background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_menu.jpg") top/cover;
}

.top_menu {
  background: #FFFAF6;
}
.top_menu__container {
  margin-top: 48px;
}
@media (min-width: 1080px) {
  .top_menu__container {
    display: flex;
    justify-content: center;
    gap: 36px;
  }
}
@media (min-width: 1080px) {
  .top_menu__box {
    width: 33.3333333333%;
  }
}
.top_menu__img {
  max-width: 100%;
  height: auto;
}
.top_menu__img-wrapper {
  width: 343px;
  height: 229px;
}
@media (min-width: 768px) {
  .top_menu__img-wrapper {
    margin: 0 auto;
  }
}
.top_menu__txts {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  padding: 16px 32px;
}
@media (min-width: 768px) {
  .top_menu__txts {
    justify-content: center;
    gap: 60px;
  }
}

.top_news__wrapper {
  max-width: 800px;
  margin: 48px auto 0 auto;
}

.top_news__contents {
  border-bottom: 1px solid #3F2E1A;
  padding: 8px 16px 24px;
}
@media (min-width: 1080px) {
  .top_news__contents {
    display: flex;
    position: relative;
    vertical-align: top;
    padding: 32px 0;
  }
}
.top_news__contents:first-child {
  border-top: 1px solid #3F2E1A;
}
.top_news__contents--date {
  font-size: 12px;
  display: flex;
  margin-left: 32px;
}
.top_news__contents--category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3F2E1A;
  border-radius: 5px;
  padding: 2px 8px;
}
@media (min-width: 1080px) {
  .top_news__contents--category {
    position: absolute;
    left: 130px;
  }
}
.top_news__contents--ttl {
  font-weight: bold;
}
@media (min-width: 1080px) {
  .top_news__contents--ttl {
    position: absolute;
    left: 300px;
  }
}

.top_news__link {
  position: absolute;
  right: 0;
}
.top_news__link::before {
  display: none;
  content: "";
  border: 1px solid #3F2E1A;
  border-radius: 50%;
  width: 23px;
  height: 23px;
}
@media (min-width: 1080px) {
  .top_news__link::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
}
.top_news__link::after {
  display: none;
  content: "";
  border-bottom: 1px solid #3F2E1A;
  border-right: 1px solid #3F2E1A;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
}
@media (min-width: 1080px) {
  .top_news__link::after {
    display: block;
    position: absolute;
    top: 9px;
    right: 9px;
  }
}

.top_access {
  background: #FFFAF6;
}
.top_access__wrapper {
  margin-top: 48px;
}
.top_access__map--container {
  width: 343px;
  height: 252px;
}
@media (min-width: 768px) {
  .top_access__map--container {
    margin: 0 auto;
  }
}
@media (min-width: 1080px) {
  .top_access__map--container {
    width: 100%;
    height: 522px;
  }
}
.top_access__map--container iframe {
  width: 100%;
  height: 100%;
}
.top_access__contents {
  margin-top: 32px;
}
.top_access__logo-img {
  max-width: 100%;
  height: auto;
}
.top_access__logo-img--wrapper {
  width: 157px;
  height: 61px;
  margin: 0px auto;
}
@media (min-width: 1080px) {
  .top_access__logo-img--wrapper {
    width: 370px;
    height: 97px;
    margin-bottom: 48px;
  }
}
.top_access__table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse;
}
.top_access__th-icon {
  width: 20px;
  vertical-align: top;
  padding-top: 24px;
}
.top_access__th-icon--img {
  max-width: 100%;
  height: auto;
}
.top_access__td-date {
  font-size: 14px;
  padding-top: 24px;
  padding-left: 24px;
}
@media (min-width: 1080px) {
  .top_access__td-date {
    font-size: 20px;
  }
}
.top_access__td-date--small {
  font-size: 12px;
}
@media (min-width: 1080px) {
  .top_access__td-date--small {
    font-size: 16px;
  }
}

.top_contact__wrapper {
  margin-top: 48px;
}
@media (min-width: 768px) {
  .top_contact__txt {
    text-align: center;
  }
}
.top_contact__txt_btn__arrow {
  position: relative;
}
.top_contact__txt_btn__arrow::after {
  content: "";
  display: block;
  width: 40px;
  height: 6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) skew(45deg);
  transition: 0.3s all;
}

.menu_section__title {
  color: #3F2E1A;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
@media (min-width: 768px) {
  .menu_section__title {
    text-align: center;
    font-size: 32px;
  }
}
.menu_section__title::after {
  content: "";
  width: 256px;
  height: 1px;
  background: #3F2E1A;
  position: absolute;
  right: 0;
  top: 50%;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .menu_section__title::before {
    content: "";
    width: 256px;
    height: 1px;
    background: #3F2E1A;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

@media (min-width: 1080px) {
  .menu__box {
    display: flex;
    justify-content: center;
    gap: 48px;
  }
}
.menu__box--item {
  margin-top: 48px;
}
.menu__box--img-wrapper {
  width: 343px;
  height: 229px;
}
@media (min-width: 768px) {
  .menu__box--img-wrapper {
    margin: 0 auto;
  }
}
.menu__box--img {
  width: 100%;
  height: auto;
}
.menu__box--txts {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .menu__box--txts {
    justify-content: center;
    gap: 48px;
  }
}
@media (min-width: 1080px) {
  .menu__box--txts {
    justify-content: space-between;
  }
}
.menu__box--txts-detail {
  font-size: 14px;
  margin-top: 16px;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .menu__box--txts-detail {
    text-align: center;
  }
}
@media (min-width: 1080px) {
  .menu__box--txts-detail {
    text-align: left;
  }
}

.menu__other-box {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
  margin-top: 48px;
}
@media (min-width: 768px) {
  .menu__other-box {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.menu__other-box--img-wrapper {
  width: 160px;
  height: 116px;
}
@media (min-width: 1080px) {
  .menu__other-box--img-wrapper {
    width: 260px;
    height: 179px;
  }
}
.menu__other-box--img {
  width: 100%;
  height: auto;
}
.menu__other-box--txts {
  padding: 0 16px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .menu__other-box--txts-name {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.menu__other-box--txts-price {
  text-align: right;
}

.news_kv {
  background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_news.jpg") 70% top/cover;
}

.news__list--item {
  border-bottom: 1px solid #3F2E1A;
  padding: 24px 16px;
}
.news__list--item:first-child {
  border-top: 1px solid #3F2E1A;
}
.news__list--date {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.news__list--category {
  color: #3F2E1A;
  border: 1px solid #3F2E1A;
  border-radius: 3px;
  width: 52px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__list--ttl {
  font-weight: bold;
  margin-top: 16px;
}
.news__list--summary {
  font-size: 14px;
  margin-top: 16px;
  color: #808080;
}

.news_pagination {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.m_pagination__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #3F2E1A;
  font-weight: bold;
  background: #fff;
}
.m_pagination__numbers--current {
  color: #fff;
  background: #3F2E1A;
}
.m_pagination__numbers--between {
  border: none;
}
.m_pagination__numbers--next {
  position: relative;
}
.m_pagination__numbers--next::before {
  content: "";
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #3F2E1A;
  border-right: 1px solid #3F2E1A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.single_btn__wrapper {
  margin-top: 56px;
}

.single_btn__arrow {
  position: relative;
}
.single_btn__arrow::after {
  content: "";
  display: block;
  width: 60px;
  height: 6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) skew(45deg);
  transition: 0.3s all;
}

.single__article--date {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.single__article--category {
  color: #3F2E1A;
  font-size: 10px;
  border: 1px solid #3F2E1A;
  border-radius: 3px;
  width: 52px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single__article--ttl {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
  margin-top: 24px;
}
.single__article--thumb-wrapper {
  margin-top: 24px;
}
.single__article--thumb {
  max-width: 100%;
  height: auto;
}
.single__article--body {
  font-size: 14px;
  margin-top: 24px;
}
.single__article--event {
  margin-top: 24px;
}
.single__article--event-ttl {
  font-size: 20px;
  font-weight: bold;
}
.single__article--event-list {
  margin-top: 8px;
  padding: 0 16px;
}
.single__article--event-item {
  list-style-type: disc;
  font-size: 14px;
}
.single__article--participation {
  margin-top: 24px;
}
.single__article--participation-ttl {
  font-size: 20px;
  font-weight: bold;
}
.single__article--participation-txt {
  margin-top: 8px;
  font-size: 14px;
}
.single__article--bonus {
  margin-top: 24px;
}
.single__article--bonus-ttl {
  font-size: 20px;
  font-weight: bold;
}
.single__article--bonus-txt {
  margin-top: 8px;
  font-size: 14px;
}
.single__article--bonus-txt-sub {
  margin-top: 24px;
  font-size: 14px;
}

.contact_kv {
  background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_contact.jpg") 80% center/cover;
}

.contact_btn__wrapper-tel {
  margin-top: 24px;
}

.contact_form__btn-wrapper {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .contact_form__btn-wrapper {
    margin-top: 48px;
  }
}

.contact_section__title {
  margin-top: 32px;
  color: #3F2E1A;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
@media (min-width: 768px) {
  .contact_section__title {
    text-align: center;
  }
}
@media (min-width: 1080px) {
  .contact_section__title {
    font-size: 32px;
  }
}
.contact_section__title::after {
  content: "";
  width: 30%;
  height: 1px;
  background: #3F2E1A;
  position: absolute;
  right: 0;
  top: 50%;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .contact_section__title::after {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .contact_section__title::before {
    content: "";
    width: 20%;
    height: 1px;
    background: #3F2E1A;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

.contact__txt {
  font-size: 14px;
}
@media (min-width: 768px) {
  .contact__txt {
    text-align: center;
  }
}
.contact__form--box-txt {
  margin-top: 24px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .contact__form--box-txt {
    text-align: center;
  }
}
.contact_form {
  margin-top: 24px;
}
.contact_form__heading {
  position: relative;
  font-weight: bold;
  margin-top: 24px;
}
.contact_form__required {
  font-weight: normal;
  font-size: 10px;
  color: #FF9C40;
  border: 1px solid #FF9C40;
  border-radius: 5px;
  padding: 1px 3px;
  margin-left: 10px;
  font-family: Noto Sans JP;
}
.contact_form__example {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: normal;
  font-size: 12px;
  color: #808080;
  font-family: Noto Sans JP;
}
.contact_form__input {
  width: 100%;
  height: 43px;
  border: 1px solid #3F2E1A;
  border-radius: 5px;
  margin-top: 8px;
}
.contact_form__textarea {
  width: 100%;
  height: 223px;
  border: 1px solid #3F2E1A;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 14px;
}
.contact_form__checkbox {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}
.contact_privacy__wrapper {
  text-align: center;
  margin-top: 24px;
}
.contact_privacy__txt {
  color: #FF9C40;
  margin-top: 24px;
}
.contact_privacy__link {
  text-decoration: underline;
}

.error {
  background: #3F2E1A;
}
.error__txt--wrapper {
  text-align: center;
  margin-top: 48px;
}
.error__txt {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.error__txt-sub {
  color: #fff;
  font-weight: bold;
  margin-top: 36px;
}
.error__txt__img-wrapper {
  width: 343px;
  height: 240px;
}
.error__txt__img {
  width: 100%;
  height: auto;
}

.error__wrapper {
  margin-top: 48px;
}

.error__btn {
  width: 297px;
  height: 45px;
  margin: 0px auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 4, 4, 0.25);
  background: #fff;
  color: #3F2E1A;
  transition: 0.3s all;
}
.error__btn:hover {
  background: #FFFAF6;
  color: #fff;
}/*# sourceMappingURL=style.css.map */