// 色管理用の変数
$blackColor: #333;
$grayColor: #808080;
$whiteColor: #fff;
$whiteColor02: #FFFAF6;
$primaryColor: #3F2E1A;
$accentColor: #FF9C40;

// コンテンツ幅管理用の変数
$contentWidthSm: 800px;
$contentWidth: 960px;
$contentWidthLg: 1088px;

// z-index管理用の変数
$zIndexBack: -1;
$zIndexDefault: 1;
$zIndexHeader: 100;
$zIndexMenu: 150;
$zIndexModal: 200;

