@use '_variable' as var;
@use '_mixin' as mix;
@use '_reset';

// -------------- base --------------//

body {
    color: var.$blackColor;
    font-size: 16px;
    font-family: "Noto Serif JP", "Times New Roman", "Georgia", serif;
    line-height: 1.8;
    letter-spacing: 0.1em;
}


// -------------- layout --------------//
.l_container-sm,
.l_container,
.l_container-lg{
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.l_container-sm {
    max-width: calc(var.$contentWidthSm + 32px);
}

.l_container {
    max-width: calc(var.$contentWidth + 32px);
}

.l_container-lg {
    max-width: calc(var.$contentWidthLg + 32px);
}

.l_contents {
    padding: 120px 0;
}


// ********* header ********* //
.l_header {
    height: 72px;
    width: 100%;
    padding: 0 16px;
    background: var.$whiteColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: var.$zIndexHeader;

    &-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var.$whiteColor; 

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-size: 20px;
            font-weight: bold;
        }
    }
}


// ********* footer ********* //
.l_footer {
    background: var.$primaryColor;
    margin: 0 auto;
    padding: 64px 0;

&-logo__img--wrapper {
    width: 200px;
    height: 75px;
    margin: 48px auto;
}


&-nav {
    margin-top: 48px;
    &__list {
        display: flex;
        gap: 18px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: var.$whiteColor;
        font-weight: bold;
    }
}

&-icon__img--wrapper {
    margin: 48px auto;
    width: 20px;
    height: 20px;
}

&-cr {

    &__txt {
        color: var.$whiteColor;
        font-size: 12px;
        text-align: center;
    }
}
}

// -------------- utility --------------//
// -------------- module 使いまわしができるパーツ --------------//
.m_hamburger {
    width: 39px;
    height: 26px;
    position: relative;

    &-bar {
        width: 100%;
        height: 2px;
        background: var.$primaryColor;
        position: absolute;

        &:first-child {
            top: 0;
            transform: translate(-50% ,0);

        }

        &:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:last-child {
            top: 100%;
            transform: translate(-50%, -100%);
        }
    }
}




.m_btn {
    width: 297px;
    height: 45px;
    margin: 0px auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 4, 4, 0.25);
    background: var.$primaryColor;
    color: var.$whiteColor;
    transition: 0.3s all;

    &:hover {
        background: var.$whiteColor02;
        color: var.$primaryColor;
    }
    }

    .m_btn__more {
        position: relative;

     &::after {
        content: "";
        display: block;
        width: 60px;
        height: 6px;
        border-right: 1px solid var.$whiteColor;
        border-bottom: 1px solid var.$whiteColor;
        position: absolute;
        top: 50%; // m_btn__moreの中央基準
        right: 16px; // m_btn__moreの右端からの距離
        transform: translateY(-50%) skew(45deg) ;
        transition: 0.3s all;
    }}

    .m_btn__tel {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url(../img/icon_insta_white.svg) no-repeat;
            background-size: contain;
            position: absolute;
            left: 16px; // 左端からの距離
            top: 50%; // ボタン中央に配置
            transform: translateY(-50%); // 中央揃え
            transition: 0.3s all;
        }
    }




// -------------- js --------------//
// -------------- top --------------//
.top_section__title {
    font-size: 32px;
    font-weight: bold;
    color: var.$primaryColor;
    position: relative;

    &::after {
        content: "";
        width: 71px;
        height: 8px;
        background: var.$primaryColor;
        position: absolute;
        left: 0;
        bottom: -16px;
    }
}

.top_btn__wrapper {
    margin: 48px auto;

}
// ********* top_kv ********* //
.top_kv {
    background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_top.jpg") 72% center/cover;
    height: 100vh;
    position: relative;

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__copy {
        color: var.$whiteColor;
    }

    &__img {
        max-width: 100%;
        height: auto;

        &--wrapper {
            width: 343px;
            height: 84px;
        }
    }

    &__scroll--down {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var.$whiteColor;
        position: absolute;
        left: 50%;
        bottom: 16px;
        transform: translateX(-50%)
    }

    &__scroll--arrow{
        width: 6px;
        height: 6px;
        border-color: var.$whiteColor;
        border-width: 1px;
        border-style: none solid solid none;
        transform: rotate(-45deg);
        margin-top: 16px;
}
}

// ********* top_concept ********* //
.top_concept__copy {
    font-size: 18px;
    margin-top: 48px;
}

.top_concept__txt {
    margin-top: 24px;
}
// ********* top_menu ********* //
.top_menu {
    background: var.$whiteColor02;

    &__container {
        margin-top: 48px;
    }

    &__img {
        max-width: 100%;
        height: auto;

        &-wrapper {
            width: 343px;
            height: 229px;
        }
    }

    &__txts {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        padding: 16px 32px;
    }
}

// ********* top_news ********* //
.top_news__wrapper {
    margin-top: 48px;
}

.top_news__contents {
    border-bottom: 1px solid var.$primaryColor;
    padding: 8px 16px 24px;

    &:first-child {
        border-top: 1px solid var.$primaryColor;
    }

    &--date {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
    &--category {
        border: 1px solid var.$primaryColor;
        border-radius: 5px;
        padding: 2px 8px;
    }

    &--ttl {
        font-weight: bold;
    }
}
// ********* top_access ********* //
.top_access {
    background: var.$whiteColor02;

    &__wrapper {
        margin-top: 48px;
    }

    &__map--container {
        width: 343px;
        height: 252px;
    
        & iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__contents {
        margin-top: 32px;
    }

    &__logo-img {
        max-width: 100%;
        height: auto;

        &--wrapper {
            width: 157px;
            height: 61px;
            margin: 0px auto;
        }
    }
    &__table {
        width: 100%;

    }

    &__tr-icon {
        width: 20px;
        height: 20px;
        vertical-align: top;

        &--img {
            max-width: 100%;
            height: auto;
        }
    }

    &__td-date {
        font-size: 14px;
        padding-left: 24px;

        &--small {
            font-size: 12px;
        }
    }

}


// ********* top_contact ********* //
.top_contact__wrapper {
    margin-top: 48px;
}

.top_contact_btn__arrow {
    position: relative;

 &::after {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    border-right: 1px solid var.$whiteColor;
    border-bottom: 1px solid var.$whiteColor;
    position: absolute;
    top: 50%; // m_btn__moreの中央基準
    right: 16px; // m_btn__moreの右端からの距離
    transform: translateY(-50%) skew(45deg) ;
    transition: 0.3s all;
}}




// -------------- menu --------------//
.menu_section_title {
    color: var.$primaryColor;
    font-size: 24px;
    font-weight: bold;
    position: relative;

    &::after {
        content: "";
        // 100% - section_ttlの長さ
        width: calc(100% - 87px);
        height: 1px;
        background: var.$primaryColor;
        position: absolute;
        top: 50%;
        margin-left: 16px;
    }
}





// -------------- news --------------//
// -------------- contact --------------//