@use '_variable' as var;
@use '_mixin' as mix;
@use '_reset';

// -------------- base --------------//

body {
    color: var.$blackColor;
    font-size: 16px;
    font-family: "Noto Serif JP", "Times New Roman", "Georgia", serif;
    line-height: 1.8;
    letter-spacing: 0.1em;
}


// -------------- layout --------------//
.l_container-sm,
.l_container,
.l_container-lg{
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

.l_container-sm {
    max-width: calc(var.$contentWidthSm + 32px);
}

.l_container {
    max-width: calc(var.$contentWidth + 32px);
}

.l_container-lg {
    max-width: calc(var.$contentWidthLg + 32px);
}

.l_contents {
    padding: 120px 0;
}



// ********* header ********* //
.l_header {
    height: 72px;
    width: 100%;
    padding: 0 16px;
    background: var.$whiteColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var.$zIndexHeader;


    &-nav {
        // top: 0;
        // left: 0;
        // position: absolute;
        // width: 100%;
        // transition: opacity 0.5s ease;
        // height: 100vh; /* 画面全体 */
        opacity: 0;
        background: var.$whiteColor; /* 背景色 */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include mix.mq(mix.$lg) {
            position: static;
            width: auto;
            height: auto;
            opacity: 1;
            pointer-events: inherit;
    }


        &__list {
        // hamアクティブ時のスタイル
            display: flex;
            gap: 16px;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include mix.mq(mix.$lg) {
                // background: transparent;
                flex-direction: row;
                position: static;
                transform: none;
        }
    }
            &__item {
                    text-align: center;
                    font-size: 24px;
                    // font-weight: bold;
                    text-align: left;
            @include mix.mq(mix.$lg) {
                color: var.$primaryColor;
                font-size: 16px;
                font-weight: bold;
            }
} 
            &__link {
                transition: 0.3s all;
                &:hover {
                    opacity: 70%;
                    text-decoration: underline;
                }
            }
}
}


// ********* footer ********* //
.l_footer {
    background: var.$primaryColor;
    margin: 0 auto;
    padding: 64px 0;

&-logo__img--wrapper {
    width: 200px;
    height: 75px;
    margin: 48px auto;
}


&-nav {
    margin-top: 48px;
    &__list {
        display: flex;
        gap: 18px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: var.$whiteColor;
        font-weight: bold;
        @include mix.mq(mix.$lg) {
            flex-direction: row;
            gap: 48px;
    }
    }
}

&-icon__img--wrapper {
    margin: 48px auto;
    width: 20px;
    height: 20px;
}

&-cr {

    &__txt {
        color: var.$whiteColor;
        font-size: 12px;
        text-align: center;
    }
}
}

// -------------- utility --------------//
.u_lg-dn {
    @include mix.mq(mix.$md) {
        display: none;
        }
}
// -------------- module 使いまわしができるパーツ --------------//
.m_hamburger {
    width: 32px;
    height: 28px;
    position: relative;
    @include mix.mq(mix.$lg) {
        display: none;
        }

    &-bar {
        width: 100%;
        height: 2px;
        background: var.$primaryColor;
        position: absolute;

        &:first-child {
            top: 0;
            transform: translate(-50% ,0);

        }

        &:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:last-child {
            top: 100%;
            transform: translate(-50%, -100%);
        }
    }

}

.m_btn {
    width: 297px;
    height: 45px;
    margin: 0px auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 4, 4, 0.25);
    background: var.$primaryColor;
    color: var.$whiteColor;
    transition: 0.3s all;

    &:hover {
        background: var.$whiteColor02;
        color: var.$primaryColor;
    }
    }
    .m_btn__more {
        position: relative;

     &::after {
        content: "";
        display: block;
        width: 60px;
        height: 6px;
        border-right: 1px solid var.$whiteColor;
        border-bottom: 1px solid var.$whiteColor;
        position: absolute;
        top: 50%; // m_btn__moreの中央基準
        right: 16px; // m_btn__moreの右端からの距離
        transform: translateY(-50%) skew(45deg) ;
        transition: 0.3s all;
    }}

    .m_btn__tel {
        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
            transform: translateY(-50%);
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-image: url(/src/img/icon_tel_white.png);
            background-color: var.$primaryColor;
            background-position: center;
            background-size: contain;

        }
    }

    .m_kv {
        height: 320px;
        margin-top: 72px;
    
        &__box {
            height: 320px;
            position: relative;
        }
    
        &__copy {
            color: var.$whiteColor;
            font-size: 32px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include mix.mq(mix.$lg) {
                text-align: center;
                font-size: 40px;
        }
    }
    }



// -------------- js --------------//
.m_opening {
    
    background: var.$whiteColor;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var.$zIndexModal;
    display: flex;
    &__txt {
    text-align: center;
    margin: auto;
    font-size: 32px;
    font-weight: bold;
  }
}


.js_hamburger.is-active .m_hamburger-bar{
    &:first-child {
        top: 50%;
        transform: translate(-50%, 0) rotate(45deg);
      }
    &:nth-child(2) {
        opacity: 0;
      }
    
    &:last-child{
        top: 50%;
        transform: translate(-50%, 0) rotate(-45deg);
      }
}

.js_body.is-active {
    overflow: hidden;
}

.js_nav.is-active {
        opacity: 1;
        // display: block;
        pointer-events: inherit;
}

// -------------- top --------------//
.top_section__title {
    font-size: 32px;
    font-weight: bold;
    color: var.$primaryColor;
    position: relative;
    @include mix.mq(mix.$md) {
        text-align: center;
    }

    &::after {
        content: "";
        width: 71px;
        height: 8px;
        background: var.$primaryColor;
        position: absolute;
        left: 0;
        bottom: -16px;
        @include mix.mq(mix.$md) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.top_btn__wrapper {
    margin: 48px auto;

}
// ********* top_kv ********* //
.top_kv {
    background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_top.jpg") 72% center/cover;
    height: 100vh;
    position: relative;

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__copy {
        color: var.$whiteColor;
        @include mix.mq(mix.$lg) {
            text-align: center;
            font-size: 24px;
    }
}

    &__img {
        max-width: 100%;
        height: auto;
    }

     &__img--wrapper {
            width: 343px;
            height: 84px;
            @include mix.mq(mix.$lg) {
                width: 793px;
                height: 194px;
            }
    
}


    &__scroll--down {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var.$whiteColor;
        position: absolute;
        left: 50%;
        bottom: 16px;
        transform: translateX(-50%)
    }

    &__scroll--arrow{
        width: 6px;
        height: 6px;
        border-color: var.$whiteColor;
        border-width: 1px;
        border-style: none solid solid none;
        transform: rotate(45deg);
        margin-top: 16px;
}
}

// ********* top_concept ********* //
.top_concept__copy {
    font-size: 18px;
    margin-top: 48px;
    @include mix.mq(mix.$md) {
        text-align: center;
    }
}

.top_concept__txt {
    margin-top: 24px;
    @include mix.mq(mix.$md) {
        text-align: center;
    }
}
// ********* top_menu ********* //
.menu_kv {
    background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_menu.jpg") top/cover;

}
.top_menu {
    background: var.$whiteColor02;

    &__container {
        margin-top: 48px;
        @include mix.mq(mix.$lg) {
            display: flex;
            justify-content: center;
            gap: 36px;
        }
    }

    &__box {
        @include mix.mq(mix.$lg) {
           width: calc(100% / 3);
        }
    }

    &__img {
        max-width: 100%;
        height: auto;

        &-wrapper {
            width: 343px;
            height: 229px;
            @include mix.mq(mix.$md) {
                margin: 0 auto;
             }
        }
    }

    &__txts {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        padding: 16px 32px;
        @include mix.mq(mix.$md) {
           justify-content: center;
           gap: 60px;
         }
    }
}

// ********* top_news ********* //
.top_news__wrapper {
    max-width: 800px;
    margin: 48px auto 0 auto;
}

.top_news__contents {
    border-bottom: 1px solid var.$primaryColor;
    padding: 8px 16px 24px;
    @include mix.mq(mix.$lg) {
        display: flex;
        position: relative;
        vertical-align: top;
        padding: 32px 0;
    }

    &:first-child {
        border-top: 1px solid var.$primaryColor;
    }

    &--date {
    font-size: 12px;
    display: flex;
    margin-left: 32px;


}
    &--category {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var.$primaryColor;
        border-radius: 5px;
        padding: 2px 8px;
        @include mix.mq(mix.$lg) {
            position: absolute;
            left: 130px;
        }
    }

    &--ttl {
        font-weight: bold;
        @include mix.mq(mix.$lg) {
            position: absolute;
            left: 300px;
    }
    }
}


    .top_news__link {
        position: absolute;
        right: 0;

        &::before {
            display: none;
            content: "";
            border: 1px solid var.$primaryColor;
            border-radius: 50%;
            width: 23px;
            height: 23px;

            @include mix.mq(mix.$lg) {
                display: block;
                position: absolute;
                top: 50%;
                right: 0;

             }
        }

        &::after {
            display: none;
            content: "";
            border-bottom: 1px solid var.$primaryColor;
            border-right: 1px solid var.$primaryColor;
            width: 6px;
            height: 6px;
            transform: rotate(-45deg);

            @include mix.mq(mix.$lg) {
                display: block;
                position: absolute;
                top: 9px;
                right: 9px;
             }
        }
    }

// ********* top_access ********* //
.top_access {
    background: var.$whiteColor02;

    &__wrapper {
        margin-top: 48px;
    }

    &__map--container {
        width: 343px;
        height: 252px;
        @include mix.mq(mix.$md) {
            margin: 0 auto;
         }
        @include mix.mq(mix.$lg) {
            width: 100%;
            height: 522px;
         }
    
        & iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__contents {
        margin-top: 32px;
    }

    &__logo-img {
        max-width: 100%;
        height: auto;

        &--wrapper {
            width: 157px;
            height: 61px;
            margin: 0px auto;
            @include mix.mq(mix.$lg) {
                width: 370px;
                height: 97px;
                margin-bottom: 48px;
        }
        }
    }
    &__table {
        width: auto;
        margin: 0 auto;
        border-collapse: collapse;
    }

    &__th-icon {
        width: 20px;
        vertical-align: top;
        padding-top: 24px;

        &--img {
            max-width: 100%;
            height: auto;
        }
    }

    &__td-date {
        font-size: 14px;
        padding-top: 24px;
        padding-left: 24px;

        @include mix.mq(mix.$lg) {
            font-size: 20px;
    }

        &--small {
            font-size: 12px;
            @include mix.mq(mix.$lg) {
                font-size: 16px;
        }
        }
    }

}


// ********* top_contact ********* //
.top_contact {
    &__wrapper {
        margin-top: 48px;
    }

    &__txt {
        @include mix.mq(mix.$md) {
            text-align: center;
         }
         
         &_btn__arrow {
             position: relative;
         
          &::after {
             content: "";
             display: block;
             width: 40px;
             height: 6px;
             border-right: 1px solid var.$whiteColor;
             border-bottom: 1px solid var.$whiteColor;
             position: absolute;
             top: 50%; // m_btn__moreの中央基準
             right: 16px; // m_btn__moreの右端からの距離
             transform: translateY(-50%) skew(45deg) ;
             transition: 0.3s all;
         }}
    }
}





// -------------- menu --------------//
.menu_section__title {
    color: var.$primaryColor;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    @include mix.mq(mix.$md) {
        text-align: center;
        font-size: 32px;
     }

    &::after {
        content: "";
        // 100% - section_ttlの長さ
        width: 256px;
        height: 1px;
        background: var.$primaryColor;
        position: absolute;
        right: 0;
        top: 50%;
        margin-left: 16px;
    }
    &::before{
    @include mix.mq(mix.$md) {
        content: "";
        // 100% - section_ttlの長さ
        width: 256px;
        height: 1px;
        background: var.$primaryColor;
        position: absolute;
        left: 0;
        top: 50%;
     }
    }
}

// メインメニュー
.menu__box {
    @include mix.mq(mix.$lg) {
        display: flex;
        justify-content: center;
        gap: 48px;
     }
    &--item {
        margin-top: 48px;

    }
    &--img-wrapper {
        width: 343px;
        height: 229px;
        @include mix.mq(mix.$md) {
            margin: 0 auto;
         }
    }
    &--img {
        width: 100%;
        height: auto;
    }
    &--txts {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 0 16px;
        @include mix.mq(mix.$md) {
            justify-content: center;
            gap: 48px;
         }
         @include mix.mq(mix.$lg) {
            justify-content: space-between;
         }
        &-detail {
            font-size: 14px;
            margin-top: 16px;
            padding: 0 16px;
            @include mix.mq(mix.$md) {
                text-align: center;
             }
             @include mix.mq(mix.$lg) {
                text-align: left;
             }
        }
    }
}
        // サブメニュー
.menu__other-box{
            display: flex;
            gap: 20px 20px;
            flex-wrap: wrap;
            margin-top: 48px;
            @include mix.mq(mix.$md) {
                justify-content: center;
                flex-wrap: nowrap;
             }
    &--img-wrapper {
        width: 160px;
        height: 116px;
        @include mix.mq(mix.$lg) {
            width: 260px;
            height: 179px;
         }
    }
    &--img {
        width: 100%;
        height: auto;
    }
    &--txts {
        padding: 0 16px;
        font-size: 14px;
        &-name {
            @include mix.mq(mix.$md) {
                text-align-last: left;
             }
        }
        &-price {
            text-align: right;
        }
    }
}

// -------------- news --------------//
.news_kv {
    background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_news.jpg") 70% top/cover;
}

.news__list {
    &--item {
        border-bottom: 1px solid var.$primaryColor;
        padding: 24px 16px;

        &:first-child {
            border-top: 1px solid var.$primaryColor;
        }
    }
    &--date {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    &--category {
        color: var.$primaryColor;
        border: 1px solid var.$primaryColor;
        border-radius: 3px;
        width: 52px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--ttl {
        font-weight: bold;
        margin-top: 16px;
    }
    &--summary {
        font-size: 14px;
        margin-top: 16px;
        color: var.$grayColor;
    }
}

.news_pagination {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.m_pagination__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid var.$primaryColor;
    font-weight: bold;
    background: var.$whiteColor;
    &--current {
        color: var.$whiteColor;
        background: var.$primaryColor;
    }
    &--between {
        border: none;
    }
    &--next {
        position: relative;
        &::before {
            content:'';
            width: 7px;
            height: 7px;
            border-bottom: 1px solid var.$primaryColor;
            border-right: 1px solid var.$primaryColor;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-45deg);
        }
    }
}

// -------------- single --------------//
.single_btn__wrapper {
    margin-top: 56px;
}
.single_btn__arrow {
        position: relative;
    
     &::after {
        content: "";
        display: block;
        width: 60px;
        height: 6px;
        border-right: 1px solid var.$whiteColor;
        border-bottom: 1px solid var.$whiteColor;
        position: absolute;
        top: 50%; // m_btn__moreの中央基準
        right: 16px; // m_btn__moreの右端からの距離
        transform: translateY(-50%) skew(45deg) ;
        transition: 0.3s all;
    }
}

.single__article {
    &--date {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }
    &--category {
        color: var.$primaryColor;
        font-size: 10px;
        border: 1px solid var.$primaryColor;
        border-radius: 3px;
        width: 52px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--ttl {
        font-size: 20px;
        font-weight: bold;
        margin-top: 16px;
        margin-top: 24px;
    }
    &--thumb-wrapper {
        margin-top: 24px;

    }
    &--thumb {
        max-width: 100%;
        height: auto;
    }
    &--body {
        font-size: 14px;
        margin-top: 24px;
    }
    &--event {
        margin-top: 24px;
        &-ttl {
            font-size: 20px;
            font-weight: bold;
        }
        &-list {
            margin-top: 8px;
            padding: 0 16px;
        }
        &-item {
            list-style-type: disc;
            font-size: 14px;
        }
    }
    &--participation {
        margin-top: 24px;
        &-ttl {
            font-size: 20px;
            font-weight: bold;
        }
        &-txt {
            margin-top: 8px;
            font-size: 14px;
        }
    }
    &--bonus {
        margin-top: 24px;
        &-ttl {
            font-size: 20px;
            font-weight: bold;
        }
        &-txt {
            margin-top: 8px;
            font-size: 14px;
            &-sub {
                margin-top: 24px;
                font-size: 14px;
            }
        }

    }
    }

// -------------- contact --------------//
.contact_kv {
    background: linear-gradient(rgba(63, 46, 26, 0.47), rgba(63, 46, 26, 0.47)), url("../src/img/bg_contact.jpg") 80% center/cover;
}

.contact_btn__wrapper-tel {
    margin-top: 24px;
}

.contact_form__btn-wrapper {
    margin-top: 24px;
    @include mix.mq(mix.$md) {
        margin-top: 48px;
     }
}

.contact_section__title {
    margin-top: 32px;
    color: var.$primaryColor;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    @include mix.mq(mix.$md) {
        text-align: center;
     }
    @include mix.mq(mix.$lg) {
        font-size: 32px;
     }

    &::after {
        content: "";
        // 100% - section_ttlの長さ
        width: 30%;
        height: 1px;
        background: var.$primaryColor;
        position: absolute;
        right: 0;
        top: 50%;
        margin-left: 16px;
        @include mix.mq(mix.$md) {
            width: 20%;
    }

    }
    &::before{
    @include mix.mq(mix.$md) {
        content: "";
        // 100% - section_ttlの長さ
        width: 20%;
        height: 1px;
        background: var.$primaryColor;
        position: absolute;
        left: 0;
        top: 50%;
     }
    }
}

.contact {
    &__txt {
        font-size: 14px;
        @include mix.mq(mix.$md) {
            text-align: center;
         }
    }
    &__form--box {

    &-txt {
        margin-top: 24px;
        font-size: 14px;
        @include mix.mq(mix.$md) {
            text-align: center;
         }
    }
}
    &_form {
        margin-top: 24px;
        &__heading {
            position: relative;
            font-weight: bold;
            margin-top: 24px;
        }
        &__required{
            font-weight: normal;
            font-size: 10px;
            color: var.$accentColor;
            border: 1px solid var.$accentColor;
            border-radius: 5px;
            padding: 1px 3px;
            margin-left: 10px;
            font-family: Noto Sans JP;
        }
        &__example {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            font-weight: normal;
            font-size: 12px;
            color: var.$grayColor;
            font-family: Noto Sans JP;
        }
        &__input {
            width: 100%;
            height: 43px;
            border: 1px solid var.$primaryColor;
            border-radius: 5px;
            margin-top: 8px;
        }
        &__textarea {
            width: 100%;
            height: 223px;
            border: 1px solid var.$primaryColor;
            border-radius: 5px;
            margin-top: 8px;
            font-size: 14px;
        }
        &__checkbox {
            appearance: checkbox;
        }
    }
    &_privacy{
        &__wrapper {
            text-align: center;
            margin-top: 24px;
        }
        &__txt {
        color: var.$accentColor;
        margin-top: 24px;
        }
        &__link {
            text-decoration: underline;
        }
    }
}
// -------------- 404 --------------//
.error {
    background: var.$primaryColor;
    &__txt--wrapper {
        text-align: center;
        margin-top: 48px;
    }
    &__txt {
        color: var.$whiteColor;
        font-size: 20px;
        font-weight: bold;
        &-sub {
            color: var.$whiteColor;
            font-weight: bold;
            margin-top: 36px;
        }
    &__img-wrapper {
        width: 343px;
        height: 240px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
    }
}

.error__wrapper {
    margin-top: 48px;

}

.error__btn {
    width: 297px;
    height: 45px;
    margin: 0px auto;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 4, 4, 0.25);
    background: var.$whiteColor;
    color: var.$primaryColor;
    transition: 0.3s all;

    &:hover {
        background: var.$whiteColor02;
        color: var.$whiteColor;
    }
    }

